header{
	background-color: #5b7989;/*Establece el fondo de color #5b7989.*/
	border-radius: 10px 10px 0 0; /*Aplica bordes redondeados en las esquinas superiores a 10px.*/
	width: 100%;
	display: flex;
	height: 5vw;
}

header #titulo{
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #02010a; 
	width: 70%;
	/*background-color: blue;*/
	flex-direction: row; /*ORDENA EN FILA POR MEDIO DE FLEX*/
	/*display: inline-block;*/
	height: 100%;
}

header #nav{
	width: 30%;
	/*background-color: aliceblue;*/
	flex-direction: row; /*ORDENA EN FILA POR MEDIO DE FLEX*/
	/*display: inline-block;*/
	vertical-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #nav a{
	text-align: center;
	height: 100%;
	width: 33%;
	text-decoration: none;
	vertical-align: 50%;
	font-size: 2em;
}

#contenedor-imgp{
	width: 100%;
	background-color: #82c3a6;
	text-align: center;
}

#img-principal{
	width: 80%;
	
}

#contenedor-imgsec{
	width: 100%;
	background-color: #d5c75f;
	text-align: center;
	display: flex;
	border: 1px;
}

#img-sec-iz{
	width: 70%;
	margin-top: 2vw;
	margin-bottom: 2vw;
	box-shadow: 3px 5px 10px 0 #82c3a6;
	transition: transform 2s;
}

#img-sec-iz:hover{
	transform: rotate(10deg);
}


#img-sec-der{
	width: 70%;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: 1px;
	transition: transform 2s;
}

#img-sec-der:hover{
	transform: translate(20px,-5px);
}

