*{
	font-family: Dancing Script;
	/*background-color:  #02010a;*/

}

header{
	background-color: #5b7989;/*Establece el fondo de color #5b7989.*/
	border-radius: 10px 10px 0 0; /*Aplica bordes redondeados en las esquinas superiores a 10px.*/
	width: 100%;
	display: flex;
	
}

header #titulo{
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #02010a; 
	/*background-color: blue;*/
	flex-direction: row; /*ORDENA EN FILA POR MEDIO DE FLEX*/
	/*display: inline-block;*/
	height: 100%;
}

header #nav{
	width: 30%;
	/*background-color: aliceblue;*/
	flex-direction: row; /*ORDENA EN FILA POR MEDIO DE FLEX*/
	/*display: inline-block;*/
	vertical-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #nav a{
	text-align: center;
	height: 100%;
	width: 33%;
	vertical-align: 50%;
	color: white;
}

.activo{
	text-decoration: none;
}


#contenedor-imgp{
	width: 100%;
	background-color: #82c3a6;
	text-align: center;
}

#img-principal{
	width: 80%;
	
}

#contenedor-imgsec{
	width: 100%;
	background-color: #d5c75f;
	text-align: center;
	display: flex;
	border: 1px;
}

#img-sec-iz{
	width: 70%;
	margin-top: 2vw;
	margin-bottom: 2vw;
	box-shadow: 3px 5px 10px 0 #82c3a6;
	transition: transform 2s;
}

#img-sec-iz:hover{
	transform: rotate(10deg);
}


#img-sec-der{
	width: 70%;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: 1px;
	transition: transform 2s;
	border: 2px;
}

#img-sec-der:hover{
	transform: translate(20px,-5px);
}

footer{
	background-color: #C6d5c5;
}

@-webkit-keyframes slidein{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}

#contenido{
	animation-name: slidein;/*TODAS LAS PROPIEDADES DE ANIMATION*/
	animation-duration: 3s;
}

#imagen1 img {
border: 4px solid white;
animation-name: imagen1-animacion;/*TODAS LAS PROPIEDADES DE ANIMATION*/
animation-duration: 2s;
}

@media (min-width: 720px){	/*ESTE MEDIA QUERIE APLICA UNICAMENTE A COMPUTADORAS*/
	header{
		height: 5vw;
	}
	header #titulo{
		width: 70%;
	}
	header #nav a{
		height: 50%;
		display: flex;
		align-items: baseline;
		font-size: 1.5em;
	}
	body{
	display: flex;
	justify-content: center;
	background-color: #02010a;
	}
	#contenido{
		width: 900px;
	}
	footer{
		display: flex;
	}
	
	.contenedor-f{
		width: 25%;
	}
	p{
		padding: 5px;
	}
}

@media (max-width: 719px){	/*ESTE MEDIA QUERIE APLICA UNICAMENTE A MOVIL*/
	header{
		display: flex;
		flex-direction: column;
	}
	header #titulo{
		width: 100%;
		text-align: center;
	}
	header #nav{
		width: 100%
	}
	header #nav a{
		font-size: 1em;
		padding-bottom: 0.8em;
		padding-top: 0.8em;
	}
	body{
	display: flex;
	justify-content: center;
	background-color: #02010a;
	}

	#contenedor-imgsec{
		display: flex;
		flex-direction: column;
	}

	#contenido{
		width: 100%;
	}
	footer{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.contenedor-f{
		width: 100%;
	}
}
